.Chat2D-layout {
  z-index: 0;
  position: absolute;
  top: 11vh;
  left: 69vw;
  width: 30vw;
  height: 50vh;
  text-align: center;
}

.Chat2D-popup {
  z-Index: 1;
  padding: 5px;
  position: absolute;
  border-radius: 5px;
  max-width: 15vw;
  text-align: center;
  vertical-align: middle;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.Chat2D-popup-writer {
  font-weight: 900;
  font-size: 10px;
}