.Content-layout {
  background-color: white;
  position: absolute;
  z-index: 0;
  top: 15vh;
  left: 25vw;
  width: 50vw;
  height: 50vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
  border-radius: 8px;
}

.Content-title {
  text-align: center;
}

.Content-player {
  display: none;
  height: 50vh;
}